html,
body {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: space-around;
    margin: 0;
    background: #e2e7e2;
}

.header {
    width: 100%;
    height: 72px;
    position: absolute;
    background: #2b2d35;
    background: linear-gradient(to top, #2b2d35, #383a47);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 
}

.logo {
    max-width: 980px;
    height: 72px;
    background: #2b2d35;
    background: linear-gradient(to top, #2b2d35, #383a47);
    display: flex;
    flex-direction: column;
}

.search-form {
    width: 120px;
    margin-right: 10px;
}

.logo p {
    color: #a5adb8;
}

.logo.font {
    color: #656f7a;
    font-size: 12px;
    font-family: Arial;
}

.header form {
    background-color: 24272d;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #ae4b5d;
    float: right;
    max-width: 196px;
    height: 32px;

}

.main {
    width: 100%;
    max-width: 980px;
    max-height: 1385px;
    position: absolute;
    top: 72px;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.slider {
    background-image: url(images/cherry.jpg);
    background-position: top 0px;
    top: 0px;
    overflow: hidden;
    width: 100%;
    max-width: 980px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
}

h1 {
    color: #a5adb8;
    font-size: 30px;
    font-family: "Arial";
    line-height: 0.467;

}

h2 {
    color: #a5adb8;
    font-size: 24px;
    font-family: "Arial";
    line-height: 0.583;
    padding: 15px 15px 0px 15px;

}

p.under_h1 {
    font-size: 18px;
    font-family: "Arial";
    color: #282d33;
    font-weight: bold;
    line-height: 0.778;
    text-align: left;

}

header.p {
    font-size: 14px;
    font-family: "Arial";
    color: #d9dcdf;
    line-height: 1.286;
    text-align: left;
    position: absolute;
    width: 50%;
    padding: 15px 15px 0px 15px;
    margin: 0px 10px 0px 0px;
}

.menus ul {
    display: -webkit-flex;
    display: flex;
    background: #95161f;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.menus a {
    text-decoration: none;
    font-family: "Arial";
    transition: 0.5s linear;
    padding: 1em;
    display: block;
    color: white;
    background: #95161f;
}

.menus a:hover {
    background: #FFAB51;
}

.menus i {
    margin-right: 10px;
}

.menus {
    position: absolute;
    top: 240px;
    width: 100%;
    max-width: 980px;
    height: 36px;
    margin: 0 auto;
}

.sidebar {
    background-color: white;
    top: 397px;
    width: 100%;
    max-width: 980px;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 380px;
}

.sidebar_left {
    width: 25%;
    float: left;
    padding: 5px auto;
}

.sidebar_left_text {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(92, 100, 110);
    line-height: 1.667;
    text-align: left;
    top: 873px;
    margin: 15px 10px 15px 7px;
    width: 100%;
    max-width: 215px;
    height: 391px;
}

.sidebar_left form {
    text-align: center;
    width: 100%;
    top: 445px;
    max-width: 215px;
    height: 391px;
    background-color: #f3f3f3;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 219, 222);
    margin: 15px 10px 15px 7px;
}
.sidebar_left input {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 252, 252);
  border-radius: 3px;
  background-color: rgb(227, 228, 229);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 183px;
  height: 29px;
  padding-left: 5px;
}
/*
.sidebar_left input.submit{
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  background-image: -moz-linear-gradient( 90deg, rgb(149,22,31) 0%, rgb(176,37,46) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(149,22,31) 0%, rgb(176,37,46) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(149,22,31) 0%, rgb(176,37,46) 100%);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
  width: 100%;
  max-width: 167px;
  height: 36px;
  font-size: 16px;
  font-family: "Arial";
  color: rgb(241, 241, 241);
  line-height: 1.125; */

}
.sidebar_left legend{
    font-size: 18px;
    font-family: "Arial";
    color: #282d33;
    font-weight: bold;
    line-height: 1.2;
}


.sidebar_right_content {
    width: 75%;
}

.sidebar_right_content_2 {
    display: flex;
}

.sidebar_right_content_2__ul {
    display: block;
}

.sidebar_right_content_2 ul {
    font-size: 14px;
    font-family: "Arial";
    color: #5c646e;
    background-color: white;
}

.sidebar_right_content_2 li {
    color: #5c646e;
}


.menus_bottom {
    height: 15px;
    width: calc(100%-4px);
    background-color: #f3f3f3;
    font-size: 11px;
    font-family: "Arial";
    line-height: 2.182;
    padding: 5px;
}
.menus_bottom a{
    background-color: none;
    color: red;
    display: inline;
}

.slider__h2 {
    padding: 0;
}

.menus ul {
    justify-content: flex-end;
}

.slider_p {
    color: #a5adb8;
    width: 55%;
}

.slider__content {
    margin-top: 20px;
    margin-left: 50px;
}

.sidebar_right_content_1 {
    display: flex;
}

.sidebar_right_content_1 div {
    margin-right: 15px;
}
.sidebar_right_content_2__ul img{
    width: 10%;
    border-radius: 3px;
    background-color: rgb(222, 222, 222);
    max-width: 26px;
    height: 14px;

}

table {
    border-radius: 4px;
    background-color: rgb(40, 45, 51);
    top: 1055px;
    width: 100%;
    max-width: 720px;
    height: 269px;
    font-color: white;
    font-size: 12px;
    font-family: "Arial";
    text-align: center;
    border: 1px white; 
    border-collapse: collapse;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
     
}
table tr th{
    background-color:#9c4757;
    color: white;
    font-size: 12px;
    font-family: "Arial";
    text-align: center;
    font-weight: bold;
}
table tr th, td {  
    border: 1px solid white; 
    text-align: center;
    color: white;

}
.boder th{
    border-radius: 4px;
}

.footer {
    position: absolute;
    top: 1395px;
    width: 100%;
    height: 291px;
    background: #2b2d35;
    background: linear-gradient(to top, #2b2d35, #383a47);
    display: flex;
    justify-content: space-around;

}
h3 {
    color: #a5adb8;
    font-size: 18px;
    font-family: "Arial";
}
